/* Basic Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
    color: white; /* Text color */
    background-color: black; /* Background color */
	text-transform: lowercase;
}

/* Textbox */
.textbox {
    border: 2px solid white; /* Border color */
    padding: 5px;
    background-color: transparent;
    color: white; /* Text color */
}

.textbox:focus {
    background-color: #333; /* Darker shade for hover */
}

section {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	flex: 0.6;
}

/* Text Area */
.textarea {
    border: 2px solid white; /* Border color */
    padding: 5px;
    background-color: transparent;
    color: white; /* Text color */
    width: 100%;
    min-height: 100px;
}

/* Button */
.button {
    border: 2px solid white; /* Border color */
    padding: 5px 10px;
    background-color: transparent;
    cursor: pointer;
    color: white; /* Text color */
}

.button:hover {
    background-color: #333; /* Darker shade for hover */
}

/* Modal */
.modal {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border: 2px solid white; /* Border color */
    padding: 20px;
    background-color: black; /* Background color */
    color: white; /* Text color */
    z-index: 1000;
    display: none;
}

.modal.open {
    display: block;
}

/* Modal Content */
.modal-content {
    margin-bottom: 20px;
}

/* Close Button for Modal */
.close-modal {
    cursor: pointer;
    position: absolute;
    right: 10px;
    top: 10px;
    color: white; /* Text color */
}

/* Layout and Typography */
body {
    background-color: #121212; /* Dark background */
}

h1, h2, h3, h4, h5, h6 {
    font-weight: normal;
    margin-bottom: 10px;
    color: white; /* Text color */
}

p {
    margin-bottom: 10px;
    color: white; /* Text color */
}
